* {
  box-sizing: border-box;
  /* border: solid 1px rgb(255, 141, 141); */
}

body {
  padding: 10px;
}
header {
  display: flex;
  justify-content: space-between;
}

main {
  height: 500px;
  position: relative;
}

main h1 {
  font-size: 2em;
  text-align: center;
  margin: 1em;
}

main div {
  max-width: 50%;
  position: relative;
  margin-left: 25%;
  margin-top: 10%;
}

.startPage button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
}

main h2 {
  font-size: 1.5em;
}

div p button {
  margin: 2px;
  padding: 2px;
  cursor: pointer;
  background-color: rgb(179, 115, 211);
}

div p button:hover,
div p button:active {
  transition: 0.5s;
  box-shadow: inset 0 0 0 2em rgb(245, 168, 168);
}

#warning {
  color: red;
}
